@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

body {
    margin: 0;
}

header {
    vertical-align: middle;
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 15vw;
}

header h1 {
    font-family: 'Passion One';
    font-size: 7vw;
    margin: 0;
}

.primeira-letra {
    font-size: 10vw;
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
}

main {
    font-family: 'Sriracha', cursive;
}

main p {
    font-size: 3.5vw;
    line-height: 2em;
    margin: 70px 30px;
}

.parte-com-fundo {
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255) right center fixed;
    background-size: cover;
    box-shadow: inset 7px 7px 8px 0px rgba(0, 0, 0, 0.5);
}

.parte-com-fundo > p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: white;
    display: inline-block;
}

#parte-com-fundo1 {
    background-image: url('imagens/background001.jpg');
}

#parte-com-fundo2 {
    background-image: url('imagens/background002.jpg');
    text-shadow: 1px 1px 1px black;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 17px;
}

footer > p {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}